<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Newtonsoft.Json.Net20.dll" version="3.5.0" targetFramework="net45" />
  <package id="Topshelf" version="3.3.1" targetFramework="net45" />
</packages>